git+https://github.com/credmark/credmark-model-framework-py.git@0.8.71
# data libraries
numpy==1.23.3
matplotlib>=3.5.1
pandas==1.5.0
scipy>=1.7.0
statsmodels>=0.13.0
# Pandas' I/O
xlrd>=2.0.1
xlsxwriter>=3.0.3
BeautifulSoup4>=4.10.0
pyarrow>=7.0.0
networkx>=2.8.4
